<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- /main 컨트롤러 -->
 		<typeAlias type="com.pcria.main.model.FoodVO" alias="FoodVO"/>
 		<typeAlias type="com.pcria.main.model.SeatVO" alias="SeatVO"/>
 		<typeAlias type="com.pcria.main.model.SeatDMI" alias="SeatDMI"/>
 		
 		<!-- /access 컨트롤러 -->
 		<typeAlias type="com.pcria.access.model.AccessVO" alias="AccessVO"/>
	</typeAliases>
</configuration>